{% load staticfiles %}

<!DOCTYPE html>
 <html lang="ru">
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/community.css' %}">
        <meta charset="utf-8" />
        <title>Community</title>
      </head>
    <style>
      a { text-indent: 25px; }
    </style>
<body>
<h1> <center>СФ БашГу</center></h1>
<br>

<div class="header">
<div class="header_resize">
<div class="clr"></div>
    <div class="hbg">
        <a href="/index">
      <h3><center>Community</center></h3>
         </a>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>

<h4><a href="{% url 'new_post' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> </h4>
</div>
</div>

<br>


<div class="article">
<div class="clr"></div>
{% for posts in com %}
<div>
  <p><h1>{{posts.title}}</h1></p>
  <p><center>{{posts.text}}</center></p>
</div>
{% endfor %}
<div class="clr"></div>
</div>




</body>
</html>
